{% block address_widget %}
        <div class="row">
            <div class="col-sm-6">
                {{ form_row(form.addressLine1) }}
            </div>
            <div class="col-sm-6">
                {{ form_row(form.addressLine2) }}
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
                {{ form_row(form.city) }}
            </div>
            <div class="col-sm-4">
                {{ form_row(form.state) }}
            </div>
            <div class="col-sm-4">
                {{ form_row(form.zip) }}
            </div>
        </div>
{% endblock %}

{% block _school_application_shows_entry_widget %}
    <div class="card border-primary">
        <div class="card-header bg-primary text-white">
            Show
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-6">
                    {{ form_row(form.name, {'label': 'Name of the show'}) }}
                </div>
                <div class="col-sm-6">
                    {{ form_row(form.type) }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    {{ form_row(form.addressSameAsSchool, {'label': 'The address to the theater is the same address as this school application.', 'attr': {'data-toggle-target':'.address' ~ form.vars.name }}) }}
                </div>
            </div>
            <div class="row address{{ form.vars.name }}" {% if form.addressSameAsSchool.vars.data %}style="display: none;"{% endif %}>
                <div class="col-sm-12">
                    {{ form_row(form.address) }}
                </div>
            </div>
            <div class="row address{{ form.vars.name }}" {% if form.addressSameAsSchool.vars.data %}style="display: none;"{% endif %}>
                <div class="col-sm-4">
                    {{ form_row(form.address.city) }}
                </div>
                <div class="col-sm-4">
                    {{ form_row(form.address.state) }}
                </div>
                <div class="col-sm-4">
                    {{ form_row(form.address.zip) }}
                </div>
            </div>
            <div class="row pb-3">
                <div class="col-sm-6">
                    {{ form_errors(form.dates) }}
                    <div class="card border-primary">
                        <div class="card-header bg-primary text-white">
                            {{ form_label(form.dates) }}
                        </div>
                        <div class="card-body">
                            {{ form_widget(form.dates) }}
                            {{ form_errors(form.dates) }}
                            <button class="add date btn btn-primary" data-attribute="#school_application_shows_{{ form.vars.name }}_dates">Add a Date</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card border-primary">
                        <div class="card-header bg-primary text-white">
                            {{ form_label(form.dressRehearsalDates) }}
                        </div>
                        <div class="card-body">
                            {{ form_widget(form.dressRehearsalDates) }}
                            {{ form_errors(form.dressRehearsalDates) }}
                            <button class="add date btn btn-primary" data-attribute="#school_application_shows_{{ form.vars.name }}_dressRehearsalDates">Add a Date</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    {{ form_row(form.reviewDressRehearsal, {'label': 'We request that our reviewed show NOT be a public performance, but instead be a dress rehearsal or a special Critics-only performance.'}) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block _school_application_contacts_entry_widget %}
    <div class="card border-primary">
        <div class="card-header bg-primary text-white">
            School Contact
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-4">
                    {{ form_row(form.user.fName) }}
                </div>
                <div class="col-sm-4">
                    {{ form_row(form.user.lName) }}
                </div>
                <div class="col-sm-4">
                    {{ form_row(form.user.email) }}
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    {{ form_row(form.group, {'attr':{'class':'group'}}) }}
                </div>
            </div>
            <div class="row adtlCheckboxes">
                <div class="col-sm-12">
                    {{ form_row(form.isAlsoShowDirector) }}
                    {{ form_row(form.isAlsoMentor) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block _school_application_critics_entry_widget %}
    <div class="card border-primary">
        <div class="card-header bg-primary text-white">
            Critic
        </div>
        <div class="card-body">

            <div class="row">
                <div class="col-sm-4">
                    {{ form_row(form.user.fName) }}
                </div>
                <div class="col-sm-4">
                    {{ form_row(form.user.lName) }}
                </div>
                <div class="col-sm-4">
                    {{ form_row(form.user.email) }}
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    {{ form_row(form.group) }}
                </div>
                <div class="col-sm-4">
                    {{ form_row(form.gender) }}
                </div>
                <div class="col-sm-4">
                    {{ form_row(form.grade) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block _school_application_school_widget %}
    <div class="card border-primary">
        <div class="card-header bg-primary text-white">
            {{ form_label(form) }}
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-6">
                    {{ form_row(form.name) }}
                </div>
                <div class="col-sm-6">
                    {{ form_row(form.designation, {'label': '2 letter designation'}) }}
                </div>

            </div>
            <div class="row">
                <div class="col-sm-6">
                    {{ form_row(form.address.addressLine1) }}
                </div>
                <div class="col-sm-6">
                    {{ form_row(form.address.addressLine2) }}
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    {{ form_row(form.address.city) }}
                </div>
                <div class="col-sm-4">
                    {{ form_row(form.address.state) }}
                </div>
                <div class="col-sm-4">
                    {{ form_row(form.address.zip) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}