{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <div class="border-bottom border-primary mb-3">
        <h1>Volunteer for a Show</h1>
    </div>

    <ul class="nav nav-tabs pb-3" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Volunteer for a new show</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">My Volunteered Shows</a>
        </li>
    </ul>

    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <table class="table table-sm table-hover">
                <tr class="bg-primary text-white">
                    <th scope="col">Show</th>
                    <th scope="col">School</th>
                    <th scope="col">Address</th>
                    <th scope="col">Performance Date</th>
                    {#<th scope="col">Dress Rehearsal Dates</th>#}
                    <th scope="col">Actions</th>
                </tr>
                {% for show in shows %}
                    <tr scope="row">
                        <td>{{ show.name }}</td>
                        <td>{{ show.school }}</td>
                        <td>{{ show.address|nl2br }}</td>
                        <td>
                            {{ show.selectedDate|date('F jS @ g:i a') }}
                        </td>
                        {#<td>
                            <ul>
                                {% for date in show.dressRehearsalDates %}
                                    <li>{{ date|date('F jS @ g:i a') }}</li>
                                {% endfor %}
                            </ul>
                        </td>#}
                        <td>
                            <a href="{{ path('volunteer_for_show', {"show":show.id}) }}" class="btn btn-outline-secondary">Volunteer</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <table class="table table-sm table-hover">
                <tr class="bg-primary text-white">
                    <th scope="col">Show</th>
                    <th scope="col">School</th>
                    <th scope="col">Address</th>
                    <th scope="col">Performance Date</th>
                    {#<th scope="col">Dress Rehearsal Dates</th>#}
                    <th scope="col">Actions</th>
                </tr>
                {% for volunteer in volunteered %}
                    <tr scope="row">
                        <td>{{ volunteer.show.name }}</td>
                        <td>{{ volunteer.show.school }}</td>
                        <td>{{ volunteer.show.address|nl2br }}</td>
                        <td>
                            {{ volunteer.show.selectedDate|date('F jS @ g:i a') }}
                        </td>
                        {#<td>
                            <ul>
                                {% for date in show.dressRehearsalDates %}
                                    <li>{{ date|date('F jS @ g:i a') }}</li>
                                {% endfor %}
                            </ul>
                        </td>#}
                        <td>
                            <a href="{{ path('critic_show_review', {'show':volunteer.id}) }}" class="btn btn-outline-secondary">Write a Review</a>
                            <a href="{{ path('unvolunteer_for_show', {'show':volunteer.show.id}) }}" class="btn btn-outline-danger">Un-Volunteer</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <style>
        ul {
            list-style: none;
            padding-left: 0;
        }
    </style>
{% endblock %}
