{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <div class="border-bottom border-primary mb-3">
        <h1>Reviews</h1>
    </div>
    <table class="table table-hover table-sm">
        <tr class="bg-primary text-white">
            <th>Show</th>
            <th>Review Deadline</th>
            <th>Date</th>
            <th>Time</th>
            <th>Actions</th>
        </tr>
        {% for show in shows %}
            {% set review = show.reviews(app.user.activeSeason) %}
            {% if review is null or is_granted(constant('AppBundle\\Security\\Voter\\ReviewVoter::CREATE_REVISION'), review) %}
                <tr>
                    <td>{{ show }}</td>
                    <td>
                        {% if show.reviewDeadline is not null %}
                            {{ show.reviewDeadline|date('F jS @ g:i a') }}
                        {% endif %}
                    </td>
                    <td>{{ show.selectedDate|date('D, F jS Y') }}</td>
                    <td>{{ show.selectedDate|date('g:i a') }}</td>
                    <td>
                        <a href="{{ path('critic_show_review', {'show':show.id}) }}" class="btn btn-secondary">Review</a>
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
{% endblock %}

{% block javascripts %}{% endblock %}

{% block stylesheets %}{% endblock %}