{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <div class="border-bottom border-primary mb-3">
        <h1>Review <em>{{ show }}</em></h1>
    </div>
    <p>Review Status: {{ review.statusString }}</p>
    <ul class="nav nav-tabs mb-3 border-bottom border-primary" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#currentVersion" role="tab" aria-controls="home" aria-selected="true">
                Current Revision
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#revisions" role="tab" aria-controls="profile" aria-selected="false">
                Revisions
            </a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="currentVersion" role="tabpanel" aria-labelledby="home-tab">
            {% if is_granted(constant('AppBundle\\Security\\Voter\\ReviewVoter::CREATE_REVISION'), review) %}
                {{ form_start(form, {'attr':{'novalidate':'novalidate'}}) }}
                {{ form_widget(form.revision) }}
                {{ form_widget(form.submitReview) }}
                {{ form_widget(form.saveDraft) }}
                {{ form_end(form) }}
            {% else %}
                {{ review.currentRevision.content|raw }}
            {% endif %}
        </div>
        <div class="tab-pane fade" id="revisions" role="tabpanel" aria-labelledby="profile-tab">
            <table class="table table-hover table-sm">
                <tr class="bg-primary text-white">
                    <th>Revision number</th>
                    <th>Created</th>
                    <th>Size</th>
                    <th>Actions</th>
                </tr>
                {% for revision in review.revisions %}
                    <tr>
                        <td>
                            {{ revision.revisionNo }}
                            {% if loop.first %}
                                <i class="fa fa-star" style="color:gold;"></i>
                            {% endif %}
                        </td>
                        <td>{{ revision.created|date('Y-m-d H:i:s') }}</td>
                        <td>{{ revision.size }}</td>
                        <td>
                            <a href="#" class="btn btn-primary revisionModal" data-revision="{% spaceless %}{{ revision.content }}{% endspaceless %}">View</a>
                            {% if is_granted(constant('AppBundle\\Security\\Voter\\ReviewVoter::CREATE_REVISION'), review) %}
                                <a href="#" class="btn btn-outline-secondary">Revert</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}

            </table>
        </div>
    </div>


{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/app/js/tinymce/tinymce.min.js') }}"></script>
    <script src="{{ asset('bundles/app/js/bootbox.min.js') }}"></script>
    <script>
        tinymce.init({
            selector:'textarea',
            branding: false,
            plugins: "fullscreen",
            menubar: false,
            //toolbar: "undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | fullscreen",
            toolbar: "undo redo | bold italic | bullist numlist | outdent indent | fullscreen",
            height : "480"
        });
        $(function () {
            $('.revisionModal').on('click', function(e){
                e.preventDefault();
                var html = $(this).data('revision');
                bootbox.alert({
                    message: html,
                    size: 'large',
                    className: 'custom-modal'
                });
            });
        });
    </script>
{% endblock %}

{% block stylesheets %}
    <style>
        .custom-modal .modal-dialog{
            max-width: 1300px;
        }
    </style>
{% endblock %}