{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <div class="border-bottom border-primary mb-3">
        <h1>
            Send an email
            {% if is_granted('ROLE_CRITIC') %}
                to lead critic
            {% endif %}
        </h1>
    </div>
    {{ form(form) }}
{% endblock %}