{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <div class="border-bottom border-primary mb-3">
        <h1>Submitted Reviews</h1>
    </div>
    <table class="table table-hover table-sm">
        <tr class="bg-primary text-white">
            <th>Show</th>
            <th>Status</th>
            <th>Last Revision Date</th>
            <th>Actions</th>
        </tr>
        {% for review in reviews %}
            <tr>
                <td>{{ review.show }}</td>
                <td>{{ review.statusString }}</td>
                <td>{{ review.currentRevision.created|date('Y-m-d H:i:s') }}</td>
                <td>
                    <a href="#" class="btn btn-outline-secondary view" data-content="{% spaceless %}{{ review.currentRevision.content }}{% endspaceless %}">View</a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/app/js/bootbox.min.js') }}"></script>
    <script>
        $(function () {
            $('.view').on('click', function(e){
                e.preventDefault();
                var html = $(this).data('content');
                bootbox.alert({
                    message: html,
                    size: 'large',
                    className: 'custom-modal'
                });
            });
        });
    </script>
{% endblock %}

{% block stylesheets %}
    <style>
        .custom-modal .modal-dialog{
            max-width: 1300px;
        }
    </style>
{% endblock %}