Hello {{ user }},

This message is to inform you that you were included in an application for the {{ chapter.season }} season of the Cappies program.

The chapter application has been approved.  The next steps from you are to apply!  You can apply using a link that was created for you and your school below:

{{ absolute_url(path('school_application_partial', {'applyToken':seasonalSchool.applicationLink})) }}

If you have any questions, please contact admin@cappies.com.

Sincerely,
Cappies Administration