{% extends 'AppBundle::base.html.twig' %}

{% block top_javascripts %}
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
{% endblock %}

{% block body %}
    <table class="table table-hover table-sm">
        <tr>
            <th>Show</th>
            <th>School</th>
            <th>Date/Time</th>
        </tr>
        {% for school in chapter.participatingSchools %}
            {% if school.status == constant("AppBundle\\Entity\\SeasonalSchool::STATUS_APPROVED") %}
                {% for show in school.shows %}
                    <tr>
                        <td>{{ show.name }}</td>
                        <td>{{ school.school.name }}</td>
                        <td>
                            {% if show.dates|length >= 1 %}
                                {{ show.dates[1]|date('Y-m-d H:i:s') }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}

            {% endif %}
        {% endfor %}
    </table>
{% endblock %}

{% block javascripts %}{% endblock %}

{% block stylesheets %}{% endblock %}
