{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <div class="border-bottom border-primary mb-3">
        <h1>Manage Chapter</h1>
    </div>
    <ul class="nav nav-tabs mb-3 border-bottom border-primary" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#chapterInformation" role="tab" aria-controls="home" aria-selected="true">
                Chapter Information
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#board" role="tab" aria-controls="profile" aria-selected="false">
                Board Members
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#schools" role="tab" aria-controls="profile" aria-selected="false">
                Participating Schools
            </a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="chapterInformation" role="tabpanel" aria-labelledby="home-tab">
            <div class="row">
                <div class="col-sm-3">
                    <div class="card border-primary mb-4">
                        <div class="card-header text-white bg-primary">
                            Chapter Information
                        </div>
                        <div class="card-body">
                            <table class="table table-hover">
                                <tr>
                                    <th>Name</th>
                                    <td>{{ chapter.name }}</td>
                                </tr>
                                <tr>
                                    <th>Designation</th>
                                    <td>{{ chapter.designation }}</td>
                                </tr>
                                <tr>
                                    <th>EIN</th>
                                    <td>{{ chapter.ein }}</td>
                                </tr>
                                <tr>
                                    <th>Status</th>
                                    <td>
                                        {% if chapter.status == constant('AppBundle\\Entity\\Chapter::STATUS_APPROVED') %}
                                            <i class="fa fa-check fa-2x text-success" title="Approved"></i>
                                            Approved
                                        {% elseif chapter.status == constant('AppBundle\\Entity\\Chapter::STATUS_REJECTED') %}
                                            <i class="fa fa-times fa-2x text-danger"></i>
                                            Rejected
                                        {% elseif chapter.status == constant('AppBundle\\Entity\\Chapter::STATUS_PENDING') %}
                                            <i class="far fa-clock fa-2x text-warning"></i>
                                            Pending
                                        {% endif %}
                                    </td>
                                </tr>
                            </table>

                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card border-primary mb-4">
                        <div class="card-header text-white bg-primary">
                            Geo Information
                        </div>
                        <div class="card-body">
                            <table class="table table-hover">
                                <tr>
                                    <th>Timezone</th>
                                    <td>{{ chapter.timezoneString }}</td>
                                </tr>
                                <tr>
                                    <th>Boundaries</th>
                                    <td>{{ chapter.boundaries }}</td>
                                </tr>
                                <tr>
                                    <th>Drivetime</th>
                                    <td>{{ chapter.distance }}</td>
                                </tr>
                            </table>

                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card border-primary mb-4">
                        <div class="card-header text-white bg-primary">
                            Program Options
                        </div>
                        <div class="card-body">
                            <table class="table table-hover">
                                <tr>
                                    <th>Program Type</th>
                                    <td>{{ chapter.programType }}</td>
                                </tr>
                                <tr>
                                    <th>Number of Schools / Show</th>
                                    <td>{{ chapter.numberOfShows }}</td>
                                </tr>
                                <tr>
                                    <th>Number of reviews / Show</th>
                                    <td>
                                        {{ chapter.minimumReviews }}
                                    </td>
                                </tr>
                                <tr>
                                    <th>Application Fee</th>
                                    <td>{{ chapter.fees }}</td>
                                </tr>
                            </table>

                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card border-success mb-4">
                        <div class="card-header text-white bg-success">
                            Chapter Actions
                        </div>
                        <div class="card-body">
                            {% include 'AppBundle:admin/buttons:chapterActions.html.twig' with {'chapter': chapter,'block':true} %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="board" role="tabpanel" aria-labelledby="profile-tab">
            <div class="card border-primary mb-4">
                <div class="card-header text-white bg-primary">
                    Board Members
                </div>
                <div class="card-body">
                    <table class="table table-hover table-sm">
                        <tr class="bg-secondary text-white">
                            <th>Member</th>
                            <th>Position</th>
                            <th>Email</th>
                        </tr>
                        {% for member in chapter.boardMembers %}
                            <tr>
                                <td> {{ member.user }} </td>
                                <td>{{ member.group.name }}</td>
                                <td> {{ member.user.email }} </td>
                            </tr>
                        {% endfor %}
                    </table>

                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="schools" role="schools" aria-labelledby="profile-tab">
            <div class="card border-primary mb-4">
                <div class="card-header text-white bg-primary">
                    Participating Schools
                </div>
                <div class="card-body">
                    <table class="table table-hover table-sm">
                        <tr class="bg-secondary text-white">
                            <th>Name</th>
                            <th>Designation</th>
                            <th>Show Count</th>
                            <th>Status</th>
                        </tr>
                        {% for school in chapter.participatingSchools %}
                            <tr>
                                <td>
                                    <a href="{{ path('school_admin', {"id":school.id}) }}">{{ school.school.name }}</a>
                                </td>
                                <td>{{ school.school.designation }}</td>
                                <td>{{ school.shows|length }}</td>
                                <td>
                                    {% include 'AppBundle:admin/statuses:school.html.twig' with {'school': school} %}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}{% endblock %}