{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <div class="border-bottom border-primary mb-3">
        <h1>Critic Assignments</h1>
    </div>
    {{ form_start(form) }}
    {% for row in form.assignments|batch(3) %}
        <div class="row">
            {% for team in row %}
                <div class="col-sm-4">
                    <div class="card border-primary mb-4">
                        <div class="card-header text-white bg-primary">
                            {{ team.children.team.vars.data.name }}
                        </div>
                        <div class="card-body">
                            {% if team.shows is defined %}
                                {{ form_row(team.shows) }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}

    {#{{ form_widget(form.submit) }}#}
    <button class="btn btn-primary">Submit</button>
    {{ form_widget(form._token) }}
    {{ form_end(form, {'render_rest':false}) }}
{% endblock %}

{% block javascripts %}{% endblock %}