{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <ul class="nav nav-tabs mb-3 border-bottom border-primary" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#chapters" role="tab" aria-controls="home" aria-selected="true">
                Chapters
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#schools" role="tab" aria-controls="profile" aria-selected="false">
                Schools
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#shows" role="tab" aria-controls="profile" aria-selected="false">
                Shows
            </a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="chapters" role="tabpanel" aria-labelledby="home-tab">
            <div class="card border-primary  mb-3">
                <div class="card-header text-white bg-primary">Current chapters</div>
                <div class="card-body">
                    <table class="table table-hover table-sm">
                        <tr class="bg-secondary text-white">
                            <th>Name</th>
                            <th>Designation</th>
                            <th>Status</th>
                            <th>Program Type</th>
                            <th>Award Type</th>
                            <th>Participating Schools</th>
                            <th>Actions</th>
                        </tr>
                        {% for chapter in chapters %}
                            <tr>
                                <td><a href="{{ path('chapter_admin', { 'id': chapter.id }) }}" >{{ chapter.name }}</a></td>
                                <td>{{ chapter.designation }}</td>
                                <td>
                                    {% if chapter.status == constant('AppBundle\\Entity\\Chapter::STATUS_APPROVED') %}
                                        <i class="fa fa-check fa-2x text-success" title="Approved"></i>
                                        Approved
                                    {% elseif chapter.status == constant('AppBundle\\Entity\\Chapter::STATUS_REJECTED') %}
                                        <i class="fa fa-times fa-2x text-danger"></i>
                                        Rejected
                                    {% elseif chapter.status == constant('AppBundle\\Entity\\Chapter::STATUS_PENDING') %}
                                        <i class="far fa-clock fa-2x text-warning"></i>
                                        Pending
                                    {% endif %}
                                </td>
                                <td>
                                    {% if chapter.programType == "RA" %}
                                        Reviews and Awards
                                    {% else %}
                                        Reviews Only
                                    {% endif %}
                                </td>
                                <td>{{ chapter.awardtype }}</td>
                                <td>{{ chapter.participatingSchools|length }}</td>
                                <td>
                                    {% include 'AppBundle:admin/buttons:chapterActions.html.twig' with {'chapter': chapter} %}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="schools" role="tabpanel" aria-labelledby="profile-tab">
            <div class="card border-primary  mb-3">
                <div class="card-header text-white bg-primary">Season Schools</div>
                <div class="card-body">
                    <table class="table table-hover table-sm">
                        <tr class="bg-secondary text-white">
                            <th>Name</th>
                            <th>Designation</th>
                            <th>Status</th>
                            <th>Chapter</th>
                            {#<th>Award Type</th>
                            <th>Participating Schools</th>#}
                            <th>Actions</th>
                        </tr>
                        {% for school in schools %}
                            <tr>
                                <td><a href="{{ path('school_admin', { 'id': school.id }) }}" >{{ school }}</a></td>
                                <td>{{ school.school.designation }}</td>
                                <td>
                                    {% include 'AppBundle:admin/statuses:school.html.twig' with {'school': school} %}
                                </td>
                                <td>
                                    {{ school.chapter }}
                                </td>
                                {#<td>{{ chapter.awardtype }}</td>
                                <td>{{ chapter.participatingSchools|length }}</td>#}
                                <td>
                                    {#{% include 'AppBundle:admin/buttons:chapterActions.html.twig' with {'chapter': chapter} %}#}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="shows" role="tabpanel" aria-labelledby="profile-tab">
            <div class="card border-primary  mb-3">
                <div class="card-header text-white bg-primary">Shows</div>
                <div class="card-body">
                    <table class="table table-hover table-sm">
                        <tr class="bg-secondary text-white">
                            <th>Name</th>
                            <th>Type</th>
                            <th>Location</th>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Critics Assigned</th>
                            <th>Reviews</th>
                            <th>Actions</th>
                        </tr>
                        {% for show in shows %}
                            <tr>
                                <td><a href="#" >{{ show }}</a></td>
                                <td>{{ show.type }}</td>
                                <td>{{ show.address }}</td>
                                <td>{{ show.selectedDate|date('F jS') }}</td>
                                <td>{{ show.selectedDate|date('g:i a') }}</td>
                                <td>{{ show|assignedCritics|length }}</td>
                                <td>{{ show.reviews|length }}</td>
                                <td>
                                    {#{% include 'AppBundle:admin/buttons:chapterActions.html.twig' with {'chapter': chapter} %}#}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(function () {
            $("[data-toggle='tooltip']").tooltip();
        });
    </script>
{% endblock %}