{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <div class="border-bottom border-primary mb-3">
        <h1>{{ seasonalSchool }}</h1>
    </div>

    <ul class="nav nav-tabs mb-5" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#schoolInfo" role="tab" aria-controls="home" aria-selected="true">School Information &amp; Actions</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#showsCritics" role="tab" aria-controls="profile" aria-selected="false">Shows &amp; Critics</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#reviews" role="tab" aria-controls="contact" aria-selected="false">Reviews</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#schoolStaff" role="tab" aria-controls="contact" aria-selected="false">School Staff</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="schoolInfo" role="tabpanel" aria-labelledby="home-tab">
            <div class="row">
                <div class="col-sm-4">
                    <div class="card border-primary mb-4">
                        <div class="card-header text-white bg-primary">
                            School Information
                        </div>
                        <div class="card-body">
                            <table class="table table-hover table-small">
                                <tr>
                                    <th>Name</th>
                                    <td>{{ seasonalSchool.school.name }}</td>
                                </tr>
                                <tr>
                                    <th>Designation</th>
                                    <td>{{ seasonalSchool.school.designation|upper }}</td>
                                </tr>
                                <tr>
                                    <th>Address</th>
                                    <td>{{ seasonalSchool.school.address|nl2br }}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card border-primary mb-4">
                        <div class="card-header text-white bg-primary">
                            Newspaper
                        </div>
                        <div class="card-body">
                            <table class="table table-hover table-small">
                                <tr>
                                    <th>Title</th>
                                    <td>{{ seasonalSchool.newspaper }}</td>
                                </tr>
                                <tr>
                                    <th>Newspaper Publish Status</th>
                                    <td>{{ seasonalSchool.newspaperPublishStatus }}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card border-success mb-4">
                        <div class="card-header text-white bg-success">
                            School Actions
                        </div>
                        <div class="card-body">
                            {% if seasonalSchool.status == constant('AppBundle\\Entity\\SeasonalSchool::STATUS_PENDING') %}
                                <a href="{{ path('school_admin', {"id":seasonalSchool.id, "action":"deny"}) }}" class="btn btn-block btn-danger">Deny</a>
                                <a href="{{ path('school_admin', {"id":seasonalSchool.id, "action":"approve"}) }}" class="btn btn-block btn-success">Approve</a>
                            {% elseif seasonalSchool.status == constant('AppBundle\\Entity\\SeasonalSchool::STATUS_REJECTED') %}
                                <a href="{{ path('school_admin', {"id":seasonalSchool.id, "action":"approve"}) }}" class="btn btn-block btn-success">Approve</a>
                                <a href="#" class="btn btn-block btn-outline-danger">Delete</a>
                            {% elseif seasonalSchool.status == constant('AppBundle\\Entity\\SeasonalSchool::STATUS_APPROVED_TO_APPLY') %}
                                <a href="#" class="btn btn-block btn-outline-danger">Delete</a>
                            {% else %}
                                {#<a href="#" class="btn btn-block btn-primary">Manage Show Assignments</a>#}
                                <a href="#" class="btn btn-block btn-outline-secondary">Edit</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="showsCritics" role="tabpanel" aria-labelledby="profile-tab">
            <div class="row">
                <div class="col-sm-6">
                    <div class="card border-primary mb-4">
                        <div class="card-header text-white bg-primary">
                            Shows
                        </div>
                        <div class="card-body">
                            <table class="table table-hover table-small">
                                <tr>
                                    <th>Show Name</th>
                                    <th>Date</th>
                                    <th>Time</th>
                                    <th>Critics Attending</th>
                                    <th>Actions</th>
                                </tr>
                                {% for show in seasonalSchool.shows %}
                                    <tr>
                                        <td>{{ show.name }}</td>
                                        <td>{{ show.selectedDate|date('F jS') }}</td>
                                        <td>{{ show.selectedDate|date('g:i a') }}</td>
                                        <td>
                                            {{ show|assignedCritics|length }}
                                        </td>
                                        <td>
                                            <div class="dropdown show">
                                                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    Actions
                                                </a>

                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                    <a class="dropdown-item" href="#">Action</a>
                                                    <a class="dropdown-item" href="#">Another action</a>
                                                    <a class="dropdown-item" href="#">Something else here</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card border-primary mb-4">
                        <div class="card-header text-white bg-primary">
                            Critics at this school
                        </div>
                        <div class="card-body">
                            <table class="table table-hover table-small">
                                <tr>
                                    <th>Name</th>
                                    <th>Gender</th>
                                    <th>Grade</th>
                                    <th>Declined Shows</th>
                                    <th>Actions</th>
                                </tr>
                                {% for critic in seasonalSchool.critics %}
                                    <tr>
                                        <td>{{ critic }}</td>
                                        <td>{{ critic.gender }}</td>
                                        <td>{{ critic.grade }}</td>
                                        <td>
                                            {{ critic.declinedShows|length }}
                                        </td>
                                        <td>
                                            <div class="dropdown show">
                                                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    Actions
                                                </a>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                    <a class="dropdown-item" href="#">Action</a>
                                                    <a class="dropdown-item" href="#">Another action</a>
                                                    <a class="dropdown-item" href="#">Something else here</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="contact-tab">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card border-primary mb-4">
                        <div class="card-header text-white bg-primary">
                            Completed Reviews
                        </div>
                        <div class="card-body">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="schoolStaff" role="tabpanel" aria-labelledby="contact-tab">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card border-primary mb-4">
                        <div class="card-header text-white bg-primary">
                            School Staff
                        </div>
                        <div class="card-body">
                            <table class="table table-hover table-small">
                                <tr>
                                    <th>Name</th>
                                    <th>Position</th>
                                    <th>Actions</th>
                                </tr>
                                {% for staff in seasonalSchool.schoolStaff %}
                                    <tr>
                                        <td>{{ staff }}</td>
                                        <td>{{ staff.group }}</td>
                                        <td>
                                            <div class="dropdown show">
                                                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    Actions
                                                </a>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                    <a class="dropdown-item" href="#">Action</a>
                                                    <a class="dropdown-item" href="#">Another action</a>
                                                    <a class="dropdown-item" href="#">Something else here</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {#{{ dump(seasonalSchool) }}#}
{% endblock %}

{% block javascripts %}{% endblock %}