// bootstrap primarys
// comment out as needed

$primary: #633D71;
$secondary: #B79F4F;
//$body-bg: #2f353a;
//$body-color: #e4e7ea;


/*$primary: #007bff;
$secondary: #6c757d;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #343a40;*/

@import "bootstrap/scss/bootstrap";