{% if school.status == constant('AppBundle\\Entity\\SeasonalSchool::STATUS_APPROVED_TO_APPLY') %}
    {#<i class="fa fa-check fa-2x text-success" title="Approved"></i>#}
    Pending Appliaction Completion
    {% if school.applicationLink is not null %}
        <a href="{{ path('school_application_partial', {"applyToken":school.applicationLink}) }}" target="_blank">
            <i class="fas fa-edit pl-1" data-toggle="tooltip" data-placement="right" title="Shareable school application link"></i>
        </a>
    {% endif %}
{% elseif school.status == constant('AppBundle\\Entity\\SeasonalSchool::STATUS_PENDING') %}
    {#<i class="fa fa-times fa-2x text-danger"></i>#}
    Pending Approval
{% elseif school.status == constant('AppBundle\\Entity\\SeasonalSchool::STATUS_APPROVED') %}
    {#<i class="far fa-clock fa-2x text-warning"></i>#}
    Approved
{% elseif school.status == constant('AppBundle\\Entity\\SeasonalSchool::STATUS_REJECTED') %}
    {#<i class="far fa-clock fa-2x text-warning"></i>#}
    Approved
{% endif %}