{#{% extends "@FOSUser/layout.html.twig" %}#}
{% extends 'AppBundle::base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    <div class="container pt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card-group">
                    <div class="card p-4">

                        <div class="card-body text-dark">
                            <h1>Login</h1>
                            {% if error %}
                                <div>{{ error.message }}</div>
                            {% endif %}
                            <p class="text-muted">Sign In to your account</p>
                            <form action="{{ path("fos_user_security_check") }}" method="post">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                          <i class="fas fa-user"></i>
                                        </span>
                                      </div>
                                    <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" />
                                </div>
                                <div class="input-group mb-4">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                          <i class="fas fa-key"></i>
                                        </span>
                                    </div>
                                    <input class="form-control" type="password" id="password" name="_password" required="required" autocomplete="current-password" />
                                </div>
                                <div class="input-group mb-4">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                          <i class="fas fa-calendar-alt"></i>
                                        </span>
                                    </div>
                                    <select class="form-control" id="season" name="_season">
                                        {% for season in getAvailableLoginSeasons() %}
                                            <option value="{{ season.id }}">{{ season.year }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                            {#<form action="{{ path("fos_user_security_check") }}" method="post">
                                    {% if csrf_token %}
                                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                                    {% endif %}

                                    <div class="form-group">
                                        <label for="username">{{ 'security.login.username'|trans }}</label>
                                        <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" />
                                    </div>

                                    <div class="form-group">
                                        <label for="password">{{ 'security.login.password'|trans }}</label>
                                        <input class="form-control" type="password" id="password" name="_password" required="required" autocomplete="current-password" />
                                    </div>

                                    <div class="form-group">
                                        <label for="season">Select Seson</label>
                                        <select class="form-control" id="season" name="_season">
                                            {% for season in getAvailableLoginSeasons() %}
                                                <option value="{{ season.id }}">{{ season.year }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>


                                    <div class="form-check">
                                        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                                        <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                                    </div>

                                    <input type="submit" class="btn btn-primary" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
                                </form>#}
                                <div class="row">
                                    <div class="col-6">
                                        <input type="submit" class="btn btn-primary" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
                                    </div>
                                    <div class="col-6 text-right">
                                        <button class="btn btn-link px-0" type="button">Forgot password?</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
                        <div class="card-body text-center">
                            <div>
                                <h2>Want to Participate?</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                <a href="{{ path('chapter_application') }}" class="btn btn-primary active mt-3">Region Signup</a>
                                <a href="{{ path('school_application') }}" class="btn btn-primary active mt-3">School Signup</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}



