{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <div class="border-bottom border-primary mb-3">
        <h1>Shows for Chapter {{ currentChapter }}</h1>
    </div>

    <table class="table table-sm table-hover">
        <tr class="bg-primary text-white">
            <th scope="col">Show</th>
            <th scope="col">School</th>
            <th scope="col">Address</th>
            <th scope="col">Performance Date</th>
            {#<th scope="col">Dress Rehearsal Dates</th>#}
            {#<th scope="col">Actions</th>#}
        </tr>
        {% for show in shows %}
            <tr scope="row">
                <td>{{ show.name }}</td>
                <td>{{ show.school }}</td>
                <td>{{ show.address|nl2br }}</td>
                <td>
                    {{ show.selectedDate|date('F jS @ g:i a') }}
                </td>
                {#<td>
                    <ul>
                        {% for date in show.dressRehearsalDates %}
                            <li>{{ date|date('F jS @ g:i a') }}</li>
                        {% endfor %}
                    </ul>
                </td>#}
                {#<td>
                    <a href="{{ path('volunteer_for_show', {"show":show.id}) }}" class="btn btn-outline-secondary">Volunteer</a>
                </td>#}
            </tr>
        {% endfor %}
    </table>
    {{ dump(shows) }}
{% endblock %}

{% block stylesheets %}
    <style>
        ul {
            list-style: none;
            padding-left: 0;
        }
    </style>
{% endblock %}
