{% extends 'AppBundle::base.html.twig' %}
{% form_theme form _self %}

{% block _chapter_application_galaLocation_widget %}
    <div class="card border-primary">
        <div class="card-header bg-primary text-white">
            {{ form_label(form) }}
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-6">
                    {{ form_row(form.addressLine1) }}
                </div>
                <div class="col-sm-6">
                    {{ form_row(form.addressLine2) }}
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    {{ form_row(form.city) }}
                </div>
                <div class="col-sm-4">
                    {{ form_row(form.state) }}
                </div>
                <div class="col-sm-4">
                    {{ form_row(form.zip) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block _chapter_application_boardMembers_entry_widget %}
    <div class="card border-primary">
        <div class="card-header bg-primary text-white">
            Board Member
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-4">
                    {{ form_row(form.user.fName) }}
                </div>
                <div class="col-sm-4">
                    {{ form_row(form.user.lName) }}
                </div>
                <div class="col-sm-4">
                    {{ form_row(form.user.email) }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    {{ form_row(form.address.addressLine1) }}
                </div>
                <div class="col-sm-6">
                    {{ form_row(form.address.addressLine2) }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    {{ form_row(form.address.city) }}
                </div>
                <div class="col-sm-4">
                    {{ form_row(form.address.state) }}
                </div>
                <div class="col-sm-4">
                    {{ form_row(form.address.zip) }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    {{ form_row(form.group) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block _chapter_application_participatingSchools_entry_widget %}
    <div class="card border-primary">
        <div class="card-header bg-primary text-white">
            Participating School
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-6">
                    {{ form_row(form.school.name) }}
                </div>
                <div class="col-sm-6">
                    {{ form_row(form.school.designation) }}
                </div>

            </div>
            <div class="row">
                <div class="col-sm-4">
                    {{ form_row(form.participants[0].user.fName, {"label": "Adviser First Name"}) }}
                </div>
                <div class="col-sm-4">
                    {{ form_row(form.participants[0].user.lName, {"label": "Adviser Last Name"}) }}
                </div>
                <div class="col-sm-4">
                    {{ form_row(form.participants[0].user.email, {"label": "Adviser Email"}) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block top_javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.min.js"></script>
{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('bundles/app/css/smart_wizard.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/app/css/smart_wizard_theme_dots.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_errors(form) }}
    <div id="smartwizard">
        {#<ul>
            <li><a href="#step-0">Step One<br /><small>Chapter Information</small></a></li>
            <li><a href="#step-1">Step Two<br /><small>Steering Committee</small></a></li>
            <li><a href="#step-2">Step Three<br /><small>Geo information</small></a></li>
            <li><a href="#step-3">Step Four<br /><small>Participating Schools</small></a></li>
            <li><a href="#step-4">Step Five<br /><small>Program options</small></a></li>
            <li><a href="#step-5">Step Six<br /><small>Schedule</small></a></li>
            <li><a href="#step-6">Step Seven<br /><small>Submit</small></a></li>
        </ul>#}

        <div>
            <div id="step-0" class="">
                {{ form_row(form.name) }}

                {{ form_row(form.designation) }}
                {{ form_row(form.season) }}
                {{ form_row(form.ein) }}
            </div>
            <div id="step-1" class="">
                {{ form_row(form.boardMembers) }}
                <p>Upon submit, if we find an existing email address for a user entered above, the existing user record will be used.</p>
                <button class="addMember btn btn-primary">Add Steering Committee Member</button>
            </div>
            <div id="step-2" class="">
                {{ form_row(form.timezone) }}
                {{ form_row(form.boundaries) }}
                {{ form_row(form.distance) }}
            </div>
            <div id="step-3" class="">
                {{ form_row(form.participatingSchools) }}
                <p>Upon submit, if we find an existing email address for a user entered above, the existing user record will be used.</p>
                <button class="addSchool btn btn-primary">Add Participating School</button>
            </div>
            <div id="step-4" class="">
                {{ form_row(form.programType) }}
                {{ form_row(form.numberOfShows) }}
                {{ form_row(form.minimumReviews) }}
                {{ form_row(form.fees) }}
            </div>
            <div id="step-5" class="">
                <div class="row">
                    <div class="col-sm-4">
                        {{ form_row(form.initSchoolAppDeadline) }}
                    </div>
                    <div class="col-sm-4">
                        {{ form_row(form.initCriticTrainingDate) }}
                    </div>
                    <div class="col-sm-4">
                        {{ form_row(form.midSchoolAppDeadline) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        {{ form_row(form.midCriticTrainingDate) }}
                    </div>
                    <div class="col-sm-4">
                        {{ form_row(form.awardVotingDate) }}
                    </div>
                    <div class="col-sm-4">
                        {{ form_row(form.awardDate) }}
                    </div>
                </div>
                {{ form_row(form.minMeanEvalScore) }}
                {{ form_errors(form.galaLocation) }}
                {{ form_widget(form.galaLocation) }}
            </div>
            <div id="step-6" class="">
                <button class="btn btn-success">Submit</button>
            </div>
        </div>
    </div>


    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {#<script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.5/validator.min.js"></script>#}
    <script>
        $(function(){
            /*$('#smartwizard').smartWizard({
                theme:'dots',
                transitionEffect: 'fade',
                transitionSpeed: '400'
            });
            $("#smartwizard").on("leaveStep", function(e, anchorObject, stepNumber, stepDirection) {
                var elmForm = $("#step-" + stepNumber);
                if(stepDirection === 'forward' && elmForm){
                    return $('input').valid()
                }
                return true;
            });*/

            $('#chapter_application_ein').mask('00-0000000');

            $('.addMember').on('click', function(e){
                e.preventDefault();
                var $collectionHolder = $('#chapter_application_boardMembers');
                var $newMember = $collectionHolder.data('prototype');
                var index = $collectionHolder.children().length+1;
                $newMember = $newMember.replace(/__name__label__/g, 'Board Member '+index);
                $newMember = $newMember.replace(/__name__/g, index);
                $collectionHolder.append($newMember);
                $collectionHolder.find('select').eq(index-1).val({{ committeeGroupId }});
            });

            $('.addSchool').on('click', function(e){
                e.preventDefault();
                var $collectionHolder = $('#chapter_application_participatingSchools');
                var $newMember = $collectionHolder.data('prototype');
                var index = $collectionHolder.children().length+1;
                $newMember = $newMember.replace(/__name__label__/g, 'Participating School '+index);
                $newMember = $newMember.replace(/__name__/g, index);
                $collectionHolder.append($newMember);
            });
        });
    </script>
    <script type="text/javascript" src="{{ asset('bundles/app/js/jquery.smartWizard.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/app/js/jquery.mask.min.js') }}"></script>
{% endblock %}