{% extends 'AppBundle::base.html.twig' %}

{% block top_javascripts %}
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
{% endblock %}

{% block body %}
    <div class="border-bottom border-primary mb-3">
        <h1>Welcome Back, {{ app.user }}</h1>
    </div>
    <div class="grid">
        {% include 'AppBundle:default/DashboardSections:your_account.html.twig' %}
        {% include 'AppBundle:default/DashboardSections:program_management.html.twig' %}
        {% include 'AppBundle:default/DashboardSections:feature_request.html.twig' %}
        {% include 'AppBundle:default/DashboardSections:materials.html.twig' %}
        {% include 'AppBundle:default/DashboardSections:applications.html.twig' %}
        {% include 'AppBundle:default/DashboardSections:variables.html.twig' %}
        {% include 'AppBundle:default/DashboardSections:email.html.twig' %}
        {% include 'AppBundle:default/DashboardSections:roster.html.twig' %}
        {% include 'AppBundle:default/DashboardSections:schedule.html.twig' %}
        {% include 'AppBundle:default/DashboardSections:report.html.twig' %}
        {% include 'AppBundle:default/DashboardSections:attendance.html.twig' %}
        {% include 'AppBundle:default/DashboardSections:reviews.html.twig' %}
        {% include 'AppBundle:default/DashboardSections:awards_voting.html.twig' %}
        {% include 'AppBundle:default/DashboardSections:critic_awards.html.twig' %}
        {% include 'AppBundle:default/DashboardSections:mentor_assignment.html.twig' %}
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(function(){
            $('.grid').masonry({
                // options
                itemSelector: '.grid-item',
                /*columnWidth: 10,
                gutter:10,*/
                fitWidth: true,
                /*fitWidth: true*/
                /*percentPosition: true,*/
            });
        });
    </script>
{% endblock %}

{% block stylesheets %}
    <style>
        .grid{
            margin: 0 auto;
        }
        .grid-item {
            margin-bottom: 10px;
        }
        .grid-item { width: 33.333%; }
        .grid-item--width2 { width: 40%; }
    </style>
{% endblock %}
