{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <h1>Welcome to the Cappies Website</h1>
    <h2>Please <a href="{{ path('fos_user_security_login') }}">Login</a></h2>
{% endblock %}

{% block stylesheets %}{% endblock %}
