{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <div class="border-bottom border-primary mb-3">
        <h1>{{ school.school.name }}</h1>
    </div>
    {{ dump() }}
{% endblock %}

{% block stylesheets %}{% endblock %}
