{% extends 'AppBundle::base.html.twig' %}
{% form_theme form 'AppBundle:form_override:school_application.html.twig' %}

{% block stylesheets %}
    {#<link href="{{ asset('bundles/app/css/smart_wizard.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/app/css/smart_wizard_theme_dots.css') }}" rel="stylesheet" type="text/css" />#}
{% endblock %}

{% block body %}
    {{ form_start(form) }}

    {{ form_errors(form) }}

    {# Step One: Choose Program #}
    {{ form_row(form.chapter) }}

    {{ form_errors(form.school) }}
    {{ form_widget(form.school) }}
    {{ form_row(form.participationLevel) }}

    {# Step Three: Show Information #}
    <span class="showInformation"></span>
    {{ form_row(form.shows, {'label': 'Shows'}) }}
    <button class="add btn btn-primary" data-attribute="#school_application_shows">Add Show</button>

    {# Step Four: Contact Information #}
    {{ form_row(form.contacts) }}
    <button class="add btn btn-primary" data-attribute="#school_application_contacts">Add Contact</button>

    {# Step Five: Critic Team #}
    {{ form_row(form.critics) }}
    <button class="add btn btn-primary" data-attribute="#school_application_critics">Add Critic</button>

    {# Step Six: School Newspaper Information #}
    {{ form_row(form.newspaper) }}
    {{ form_row(form.newspaperPublishStatus) }}

    {# Step Seven: Unavailable Dates #}
    {{ form_row(form.criticsUnavailableDates) }}
    <button class="add btn btn-primary" data-attribute="#school_application_criticsUnavailableDates">Add Date</button>
    <button type="submit" class="btn btn-success">Submit</button>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {#<script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.5/validator.min.js"></script>#}
    <script>
        $(function(){
            $(document).on('click', '.add[data-attribute]', function(e){
                e.preventDefault();
                var $collectionHolder = $($(this).data('attribute'));
                if($collectionHolder.length > 0){
                    var $newMember = $collectionHolder.data('prototype');
                    var index = $collectionHolder.children().length+1;
                    //$newMember = $newMember.replace(/__name__label__/g, 'Board Member '+index);
                    if($(this).hasClass('date')){
                        $newMember = $newMember.replace(/__date_name__/g, index);
                    }
                    $newMember = $newMember.replace(/__name__/g, index);

                    $collectionHolder.append($newMember);
                }
            });
            $(document).on('click', '[data-toggle-target]', function(e){
                var toggleTarget = $(this).data('toggleTarget');
                if($(this).is(':checked')){
                    $(toggleTarget).hide();
                }else{
                    $(toggleTarget).show();
                }
            });

            $(document).on('change', 'select.group', function(e){
                var $checkboxRow = $(this).parents('.row').next();
                if($(this).val() == {{ adviserGroupId }}){
                    $checkboxRow.show();
                }else{
                    $checkboxRow.hide();
                }
            });
            /*$('.addMember').on('click', function(e){
                e.preventDefault();
                var $collectionHolder = $('#chapter_application_boardMembers');
                var $newMember = $collectionHolder.data('prototype');
                var index = $collectionHolder.children().length+1;
                $newMember = $newMember.replace(/__name__label__/g, 'Board Member '+index);
                $newMember = $newMember.replace(/__name__/g, index);
                $collectionHolder.append($newMember);
            });

            $('.addSchool').on('click', function(e){
                e.preventDefault();
                var $collectionHolder = $('#chapter_application_participatingSchools');
                var $newMember = $collectionHolder.data('prototype');
                var index = $collectionHolder.children().length+1;
                $newMember = $newMember.replace(/__name__label__/g, 'Participating School '+index);
                $newMember = $newMember.replace(/__name__/g, index);
                $collectionHolder.append($newMember);
            });*/
        });
    </script>
    <script type="text/javascript" src="{{ asset('bundles/app/js/jquery.smartWizard.min.js') }}"></script>
{% endblock %}