{% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_ADMIN') %}
    <div class="grid-item">
        <div class="card border-primary mb-4 mr-3">
            <div class="card-header text-white bg-primary">
                Applications
            </div>
            <div class="card-body">
                <ul>
                    <li>Manage school applications</li>
                </ul>
            </div>
        </div>
    </div>
{% endif %}