{% if is_granted('ROLE_CHAPTER_BOARD') %}
    <div class="grid-item">
        <div class="card border-primary mb-4 mr-3">
            <div class="card-header text-white bg-primary">
                Attendance
            </div>
            <div class="card-body">
                <ul>
                    <li>View a show's attendance roster</li>
                </ul>
            </div>
        </div>
    </div>
{% endif %}