{% if is_granted('ROLE_CHAPTER_BOARD') or is_granted('ROLE_SCHOOL_MENTOR') or is_granted('ROLE_SHOW_DIRECTOR') or is_granted('ROLE_CRITIC') %}
    <div class="grid-item">
        <div class="card border-primary mb-4 mr-3">
            <div class="card-header text-white bg-primary">
                Awards Voting
            </div>
            <div class="card-body">
                <ul>
                    {% if is_granted('ROLE_CHAPTER_BOARD') %}
                        <li>Input critics' choices</li>
                        <li>Update list of critics eligible to vote</li>
                    {% endif %}
                    {% if is_granted('ROLE_SCHOOL_STAFF') %} {# this is a broad group but trimmed down by above #}
                        <li>Input critics' choices</li>
                    {% endif %}
                    {% if is_granted('ROLE_CRITIC') %}
                        <li>Registration Instructions</li>
                        <li>Register to Vote</li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% endif %}