{% if is_granted('ROLE_ADMIN') %}
    <div class="grid-item">
        <div class="card border-primary mb-4 mr-3">
            <div class="card-header text-white bg-primary">
                Critic Awards
            </div>
            <div class="card-body">
                <ul>
                    <li>View current critic rankings</li>
                    <li>View current critic team rankings</li>
                </ul>
            </div>
        </div>
    </div>
{% endif %}