<div class="grid-item">
    <div class="card border-primary mb-4 mr-3">
        <div class="card-header text-white bg-primary">
            Email
        </div>
        <div class="card-body">
            <ul>
                {% if is_granted('ROLE_ADMIN') %}
                    <li>Send an email</li>
                    <li>Look up a user by email address</li>
                    <li>Reset a users password by email address</li>
                {% elseif is_granted('ROLE_SCHOOL_ADVISOR') %}
                    email options for advisor
                {% elseif is_granted('ROLE_CRITIC') %}
                    <li><a href="{{ path('critic_send_email') }}">Send an email to lead critic</a></li>
                {% elseif is_granted('ROLE_LEAD_CRITIC') %}
                    <li><a href="{{ path('critic_send_email') }}">Send an email</a></li>
                {% elseif is_granted('ROLE_SCHOOL_MENTOR') %}
                    email options for school mentor
                {% elseif is_granted('ROLE_SHOW_DIRECTOR') %}
                    email options for show director
                {% elseif is_granted('ROLE_CHAPTER_BOARD') %}
                    email options for chapter board
                {% elseif is_granted('ROLE_SUPER_ADMIN') %}
                    email options for super admin
                {% endif %}
            </ul>
        </div>
    </div>
</div>