{% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_CHAPTER_BOARD') %}
    <div class="grid-item">
        <div class="card border-primary mb-4 mr-3">
            <div class="card-header text-white bg-primary">
                Feature Request / Bug Report
            </div>
            <div class="card-body">
                <ul>
                    <li><a href="https://jira.cappies.com/browse/CIS/issues" target="_blank">CIS</a></li>
                    <li><a href="https://jira.cappies.com/browse/CPW/issues" target="_blank">Public Website</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endif %}