<div class="grid-item">
    <div class="card border-primary mb-4 mr-3">
        <div class="card-header text-white bg-primary">
            Materials
        </div>
        <div class="card-body">
            <ul>
                <li><a href="{{ path('content_binders') }}">Cappies Binders</a></li>
                <li><a href="{{ path('content_forms_checklists') }}">Forms and Checklists</a></li>
                <li><a href="{{ path('content_cis_instructions') }}">C.I.S. Instructions</a></li>
                <li><a href="{{ path('content_rules') }}">Rules</a></li>
            </ul>
        </div>
    </div>
</div>