{% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_CHAPTER_BOARD') %}
    <div class="grid-item">
        <div class="card border-primary mb-4 mr-3">
            <div class="card-header text-white bg-primary">
                Program Management
            </div>
            <div class="card-body">
                <ul>
                    <li><a href="https://adfs.cappies.com/adfs/ls/idpinitiatedsignon" target="_blank">ADFS App Launcher</a></li>
                    <li><a href="https://accounts.cappies.com" target="_blank">Reset Cappies ADFS/SSO Password</a></li>
                    <li><a href="http://portal.office.com" target="_blank">Office 365</a></li>
                    <li><a href="https://confluence.cappies.com/display/FAQ/" target="_blank">FAQ</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endif %}