{% if is_granted('ROLE_SCHOOL_STAFF') %}
    <div class="grid-item">
        <div class="card border-primary mb-4 mr-3">
            <div class="card-header text-white bg-primary">
                Report
            </div>
            <div class="card-body">
                <ul>
                    <li>Send an email to the program director</li>
                </ul>
            </div>
        </div>
    </div>
{% endif %}