{% if is_granted('ROLE_CHAPTER_BOARD') or is_granted('ROLE_CRITIC') %}
<div class="grid-item">
    <div class="card border-primary mb-4 mr-3">
        <div class="card-header text-white bg-primary">
            Reviews
        </div>
        <div class="card-body">
            {% if is_granted('ROLE_CRITIC') %}
                <ul>
                    <li><a href="{{ path('critic_review_dashboard') }}">Submit a review</a></li>
                    <li><a href="{{ path('critic_submitted_review_dashboard') }}">View your submitted reviews</a></li>
                </ul>
            {% elseif is_granted('ROLE_CHAPTER_BOARD') %}
                <ul>
                    <li>Submit edited reviews</li>
                    <li>View review performance by school</li>
                    <li>View review totals by school</li>
                    <li>View attendance and reviews by show</li>
                    <li>Delete a critic's review</li>
                </ul>
            {% endif %}
        </div>
    </div>
</div>
{% endif %}