{% if is_granted('ROLE_CHAPTER_BOARD') %}
    <div class="grid-item">
        <div class="card border-primary mb-4 mr-3">
            <div class="card-header text-white bg-primary">
                Roster
            </div>
            <div class="card-body">
                <ul>
                    <li>Edit Database by school</li>
                    <li>Manage critic teams</li>
                    <li>Edit steering committee members</li>
                    <li>Edit newspaper contacts</li>
                    {% if is_granted('ROLE_ADMIN') %}
                        <li>Edit voting officials</li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% endif %}