<div class="grid-item">
    <div class="card border-primary mb-4 mr-3">
        <div class="card-header text-white bg-primary">
            Schedule
        </div>
        <div class="card-body">
            {% if is_granted('ROLE_CRITIC') %}
                <ul>
                    <li><a href="{{ path('critic_assignments') }}">View/Decline your schedule</a></li>
                    {#<li>Decline an assigned show</li>#}
                    <li><a href="{{ path('critic_volunteer') }}">Volunteer for a non-assigned show</a></li>
                    <li><a href="{{ path('chapter_shows') }}">View a list of all <b>{{ currentChapter.designation }}</b> shows</a></li>
                </ul>
            {% elseif is_granted('ROLE_STEERING_MEMBER') %}
                <ul>
                    <li><a href="{{ path('chapter_shows', {'chapterIdentifier':currentChapter.designation}) }}">View a list of all <b>{{ currentChapter.designation }}</b> shows</a></li>
                </ul>
            {% elseif is_granted('ROLE_CHAPTER_BOARD') %}
                <ul>
                    <li>View show schedule</li>
                    <li>Change critic assignments</li>
                    <li>Change critic assignments V2</li>
                    <li>Change mentor assignments</li>
                    <li>View assignments</li>
                </ul>
            {% endif %}
        </div>
    </div>
</div>