{% if is_granted('ROLE_ADMIN') %}
    <div class="grid-item">
        <div class="card border-primary mb-4 mr-3">
            <div class="card-header text-white bg-primary">
                Variables
            </div>
            <div class="card-body">
                <ul>
                    <li>Edit variables</li>
                    <li>Edit voting variables</li>
                </ul>
            </div>
        </div>
    </div>
{% endif %}