{% if chapter.status == constant('AppBundle\\Entity\\Chapter::STATUS_PENDING') %}
    <a href="{{ path('chapter_admin', {"id":chapter.id, "action":"deny"}) }}" class="btn btn-sm btn-danger {% if block is defined %}btn-block{% endif %}">
        Deny
    </a>
    <a href="{{ path('chapter_admin', {"id":chapter.id, "action":"approve"}) }}" class="btn btn-sm btn-success {% if block is defined %}btn-block{% endif %}">
        Approve
    </a>
{% elseif chapter.status == constant('AppBundle\\Entity\\Chapter::STATUS_REJECTED') %}
    <a href="{{ path('chapter_admin', {"id":chapter.id, "action":"approve"}) }}" class="btn btn-sm btn-success {% if block is defined %}btn-block{% endif %}">
        Approve
    </a>
    <a href="#" class="btn btn-sm btn-outline-danger {% if block is defined %}btn-block{% endif %}">
        Delete
    </a>
{% else %}
    <a href="{{ path('chapter_assignments', {'id':chapter.id}) }}" class="btn btn-sm btn-primary {% if block is defined %}btn-block{% endif %}">
        Manage Show Assignments
    </a>
    <a href="#" class="btn btn-sm btn-outline-secondary {% if block is defined %}btn-block{% endif %}">
        Edit
    </a>
{% endif %}